.text-button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #DB5461;
    color: #fff;
    font-weight: 600;
    margin-left: 1rem;
    transition: all 0.3s ease;
}

.text-button:hover {
    background-color: #D43545;
}

.text-button:active {
    background-color: #A82431;
}